{% extends '@RapsysBlog/_base.html.twig' %}
{% block content %}
	<article id="content">
		<header>
			<h1><a href="{{ head.canonical }}">{{ title }}</a></h1>
			<p>{{ description }}</p>
		</header>
		<section>
			<p>TODO: dernière page à faire avant la page cv et peut-être un peu de sémantique pour google &amp; facebook :)</p>
		</section>
	</article>
{% endblock %}
