{% extends 'RapsysBlogBundle::body.html.twig' %}
{% block blog_title %}<h1><a href="{{ path('homepage') }}">{% trans %}Dev log{% endtrans %}</a></h1>{% endblock %}
{% block blog_subtitle %}<h2><a href="{{ path('about') }}">{% trans %}About{% endtrans %}</a></h2>{% endblock %}
{% block content %}TODO: dernière page à faire avant la page cv et peut-être un peu de sémantique pour google &amp; facebook :){% endblock %}
