{% extends '@RapsysBlog/mail/_base.html.twig' %}
{% block content %}
	<table class="content">
		<tr>
			<td>&nbsp;</td>
			<td>
				<h2 title="{% trans %}Subject{% endtrans %}">{{ subject }}</h2>
				<p>{{ message|nl2br }}</p>
			</td>
			<td>&nbsp;</td>
		</tr>
	</table>
{% endblock %}
