{% extends '@RapsysBlog/mail/_base.html.twig' %}
{% block content %}
	<tbody>
		<tr>
			<td colspan="2">
				<h2 title="{% trans %}Subject{% endtrans %}">{{ subject }}</h2>
				<p>{{ message|nl2br }}</p>
			</td>
		</tr>
	</tbody>
{% endblock %}
