/* Reset link */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Default styling */
h1 {
	font-size: 2rem;
	line-height: 2.4rem;
	font-family: 'Lemon',sans-serif;
	color: #09c;
	text-shadow: 1.5px 1.5px 3px #136;
	/*line-height: 2rem;*/

	/*margin: 1.34rem 0;*/
	/*margin: 0 .5rem;
	padding: 0;
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	gap: .5rem;*/
}

h2 {
	font-size: 1.5rem;
	line-height: 1.9rem;
	font-family: 'Lemon',sans-serif;
	color: #09c;
	text-shadow: 1px 1px 2px #136;
	/*font-size: 1.5rem;
	margin: 1.245rem 0;*/
}

h3 {
	font-size: 1.25rem;
	line-height: 1.65rem;
	font-family: 'Lemon',sans-serif;
	color: #09c;
	text-shadow: 1.5px 1.5px 3px #136;
	/*font-size: 1.17rem;
	margin: 1.17rem 0;*/
}

h4 {
	font-size: 1rem;
	margin: 1.33rem 0;
}

h5 {
	font-size: .83rem;
	margin: 1.386rem 0;
}

h6 {
	font-size: .67rem;
	margin: 1.561rem 0;
}

p {
	color: #066;
}

body {
	display: flex;
	flex-flow: column wrap;
	gap: .5rem;
}

/* Header */
#header {
	/*padding: .5rem;
	background-color: #00c3f9;
	color: #0063c9;*/
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin: 0 .5rem;
}

/* hack for top menu wrapping */
/*@media ( max-width: 450px ) {
	#header {
		flex-wrap: wrap;
	}
}*/

/*#header a {
	color: #09c;
}*/

#logo {
	font-size: 2rem;
	font-family: 'Lemon',sans-serif;
	color: #09c;
	text-shadow: 1.5px 1.5px 3px #136;
	margin: 0 .5rem;
	padding: 0;
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	gap: .5rem;
	line-height: 60px;
}

#logo strong {
	word-break: break-word;
}

#nav {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	line-height: 2.5rem;
	margin: 0;
	border: 0;
	/*border-top: .1rem solid #0063c9;
	background-color: #cff;
	color: #09c;
	border-radius: 0 0 .5rem .5rem;*/
	padding: .5rem;
	background-color: #cff;
	border-radius: .5rem;
	border-top: .5rem solid #09c;
}

#nav a {
	flex: 1 1 auto;
	border: .1rem solid #136;
	border-top: 0;
	border-left: 0;
	border-radius: .2rem;
	background-color: #00c3f9;
	color: #136;
	font-weight: bold;
	text-align: center;
	padding: 0 .25rem;
}

#title a {
	font-size: 2rem;
	line-height: 2rem;
	display: block;
	/*height: 2rem;*/
}

#header div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}


/* Index */
section.form,
#content {
	/*margin: .5rem 0;
	border-radius: .5rem;
	overflow: hidden;
	border: .1rem solid #00c3f9;
	padding: .5rem;*/

	/*margin: .75rem .5rem 0 .5rem;
	padding: 0;*/
	/*background-color: #cff;*/
	border-radius: .5rem;
	border: .1rem solid #cff;
	border-top: .5rem solid #09c;
	margin: 0 .5rem;
	color: #0063c9;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

article header,
section header {
	background-color: #cff;
	padding: 0 .5rem .5rem .5rem;
	display: flex;
	flex-direction: column;
	row-gap: .5rem;
}

article header p,
section header p {
	text-align: justify;
}

article section,
section section {
	padding: 0 .5rem;
	display: flex;
	flex-direction: column;
	row-gap: .5rem;
}

article section:last-child,
section section:last-child {
	margin-bottom: .5rem;
}

article footer,
section footer {
	padding: .5rem;
	text-align: right;
}

section article {
	border-radius: .5rem;
	border: .1rem solid #cff;
	border-top: .5rem solid #09c;
	color: #0063c9;
	/*margin: 0 .5rem;*/
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

/*section article:last-child {
	margin-bottom: .5rem;
}*/
form {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

form div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: .5rem;
}

form div div {
	flex-direction: column;
}

form div ul {
	display: flex;
	flex-direction: column;
	gap: .2rem;
}

form div li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: .2rem;
	border: .05rem solid transparent;
	border-color: #c33333;
	background-color: #f9c3c3;
	color: #c33333;
	padding: .1rem .2rem;
}

form div li::before,
form div li::after {
	/*XXX: display /!\ symbol */
	content: "⚠";
}
form label {
	width: 12rem;
	text-align: right;
	line-height: 1.3rem;
}

form label.captcha {
	line-height: 2.5rem;
	height: 2.5rem;
}

form label.captcha img {
	width: 9.2rem;
	height: 2.5rem;
}

form input,
form textarea {
	width: 24rem;
}

form select {
	width: 24.2rem;
	padding: 2px;
	padding-block: 1px;
	box-sizing: content-box;
}

header h1 a,
header h2 a,
header h3 a {
	color: #09c;
}

footer nav.pager {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer nav.pager a {
	flex-basis: 100%;
}

footer nav.pager a[rel=prev] {
	text-align: left;
}

footer nav.pager a[rel=next] {
	text-align: right;
}

/*#content h2 {
	*background-color: #cff;
	margin: 0;
	padding: .5rem;
	font-weight: bold;
	color: #09c;* /
	/ *background-color: #00c3f9;
	margin: -.5rem -.5rem 0 -.5rem;
	padding: .5rem;
	color: #0063c9;* /
}*/

/*#content nav,
#content p {
	padding: .2rem .5rem;
	/ *line-height: 1.4rem;* /
	text-align: justify;
}

#content footer nav {
	text-align: right;
}

#content p {
}

#content header p {
	padding: .2rem 0;
}
*/

/*#content article header {
	margin: 1.17rem 0;
}

#content article header h3 {
	margin: 0;
}

#content article header p {
	margin: 0;
	font-size: .75rem;
	display: flex;
	justify-content: space-between;
}*/

/*#content article a {
	color: #00c3f9;
}*/

/*#content article ul,
#content article p {
	text-align: justify;
	text-justify: distribute;
	margin-bottom: .75rem;
}

#content article header p {
	margin: .5rem .5rem 0 .5rem;
}

#content article header p:last-child {
	margin-bottom: .5rem;
}

#content article section {
	margin: 0 .5rem;
}*/

/* Message */
.message {
	margin: 0 .5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: .9rem;
	padding: .2rem;
	border-radius: .2rem;
	border: .05rem solid transparent;
	text-align: center;
}

.message::before,
.message::after {
	margin: auto 0;
	padding: 0 .25rem;
}

p.message {
	margin: 0;
}

.message ul {
	margin: 0;
	padding: 0;
	list-style: none inside none;
	gap: .1rem;
}

.message li {
	padding: .25rem;
}

.error {
	border-color: #c33333;
	background-color: #f9c3c3;
	color: #c33333;
}

.error::before,
.error::after {
	/*XXX: display /!\ symbol */
	content: "⚠";
}

.notice {
	border-color: #3333c3;
	background-color: #c3c3f9;
	color: #3333c3;
}

.notice::before,
.notice::after {
	/*XXX: see https://www.fileformat.info/info/unicode/char/2139/fontsupport.htm
	 * DejaVu Sans/FreeSans/FreeSerif/Linux Libertine/Symbola/Unifont*/
	/*XXX: display i symbol */
	content: "ℹ";
	/*XXX: display # symbol */
	/*content: "⌘";*/
}

.warning {
	border-color: #c39333;
	background-color: #f9c333;
	color: #936333;
}

.warning::before,
.warning::after {
	/*XXX: see https://www.fileformat.info/info/unicode/char/2139/fontsupport.htm
	 * DejaVu Sans/FreeSans/FreeSerif/Linux Libertine/Symbola/Unifont*/
	content: "?";
	/*XXX: display # symbol */
	/*content: "⌘";*/
}

/* Article */
article p,
article pre,
article ul {
	margin-bottom: .5rem;
}

article p:last-child {
	margin-bottom: 0;
}

article ul {
	margin-top: -.5rem;
	list-style: "- " inside none;
	padding-left: .5rem;
}

article li {
	margin-bottom: .3rem;
}

article li:last-child {
	margin-bottom: 0;
}

article ul:first-child {
	margin-top: none;
}

article pre {
	border-radius: .5rem;
	border: .1rem solid #00c3f9;
	padding: .5rem;
	margin-bottom: 1rem;
	color: #0063c9;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	overflow-x: auto;
}

#footer {
	font-size: .8rem;
	padding: .5rem;
	margin: 0 .5rem;
	/*background-color: #00c3f9;
	color: #0063c9;
	border-radius: .5rem .5rem 0 0;
	bottom: 0;
	text-align: center;
	font-weight: bold;
	position: relative;
	left: 0;
	right: 0;*/
	background-color: #cff;
	border-radius: .5rem;
	border-top: .5rem solid #09c;
	color: #0063c9;
	display: flex;
	justify-content: space-between;
}

#footer details {
	text-align: center;
}

#footer summary:after {
	display: none;
}

#footer summary::-webkit-details-marker {
	display: none;
}

#footer nav {
	font-weight: normal;
}

#footer a {
	color: #0063c9;
}

/*
#footer summary:after,
#footer p:after {
	content: ' - ';
}

#footer p:last-child:after {
	content: '';
}*/
